<body>
  <div class='container-fluid'>
  <div class='row'>
<div class="article">
  <h3>Terms &amp; Conditions</h3>
  <h4>Operating Agreement</h4>
  <p>This Agreement contains the complete terms and conditions that apply to an individual's or entity's participation in the
    Flipkart Affiliates Program (the "
    <strong>Program</strong>"). As used in this Agreement, "
    <strong>we</strong>", "
    <strong>us</strong>", or "
    <strong>our</strong>" means Flipkart Internet Private Limited or any of our affiliate; parent; or group companies and our successors
    and assigns, as the case may be, and "
    <strong>you</strong>" means the applicant.
    <strong>Flipkart Site</strong> means, collectively, the flipkart.com website. "
    <strong>Your site</strong>" means your website where you will link to the Flipkart Site (and which you will identify in your
    Program application). Save for our obligation to pay referral fees under Section 4, which may be performed solely by
    us, we may cause any of our obligations under this Agreement to be fulfilled by any of our Affiliates (defined below),
    on our behalf.</p>
  <ol>
    <li>
      <div class="question">
        Enrollment in the Program
      </div>
      <p>You have to be 18 years or above to enroll in this Program. To begin the enrollment process, you will submit a complete
        Program Application via the Flipkart Site. We will evaluate your application in good faith and will notify you of
        its acceptance or rejection. We may reject your application if we determine (in our sole discretion) that your site
        is unsuitable for the Program. Unsuitable sites include, but are not limited to, those that:
      </p>
      <ul>
        <li>Advertise affiliate links through pop-up windows / pop-unders</li>
        <li>Advertise affiliate links as a cashback offer</li>
        <li>Advertise misleading/wrong offers/deals running on Flipkart</li>
        <li>Use affiliate links, whether directly or indirectly, on web sites offering any kind of referral program with/without
          payment of fees and/or sites in the nature of multi-level marketing arrangements</li>
        <li>Use affiliate links in HTML emailers, newsletters or any other form of bulk emails
        </li>
        <li>Use affiliate links on illegal audio/video download sites</li>
        <li>Promote affiliate link via use of paid ads on search engine result pages and social media websites by bidding on
          trademark of Flipkart.com or any variation or misspelling of any trademark of Flipkart.com</li>
        <li>Promote pornography and sexually explicit materials</li>
        <li>Promote violence</li>
        <li>Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation, or age</li>
        <li>Promote illegal activities</li>
        <li>Include any trademark of Flipkart.com, or its affiliates, or any variation or misspelling of any trademark of Flipkart.com,
          or its affiliates, in any domain name -- for example, a domain name such as "flipkart.mydomain.com", "flipkartauctions.net",
          "facebook.com/flipkartdealsgroup," would be unsuitable
        </li>
        <li>Include any trademark of Flipkart.com, Inc. or its affiliates in any username, group name, or other identifier on
          any social networking website</li>
        <li>Include any colour combination or layout similar or identical to Flipkart.com, with the intention to deceive</li>
        <li>Use links or URLs which are not published by the Flipkart Site or by Flipkart Affiliate Program.</li>
        <li>Add products directly to the customer's cart using scripts or any tools.</li>
        <li>Otherwise violate intellectual property rights.</li>
      </ul>
      <p>Please also note that you may not purchase products during sessions initiated through the links on your site for your
        own use, for resale or commercial use of any kind. This includes orders for customers or on behalf of customers or
        orders for products to be used by you or your friends, relatives, or associates in any manner. The reason behind
        this policy is that the Flipkart Affiliate Program is an advertising program rather than a discount program. Our
        goal is to have our affiliates refer new customers to us in return for referral fees. Affiliates are not eligible
        for referral fees when they place orders themselves, or ask people they know to routinely place orders through their
        affiliate links so they can earn referral fees</p>
      <p>With respect to our Mobile App install campaigns through Flipkart Affiliate Program, we do a rigorous data check using
        industry standard parameters for checking the authenticity & quality of app installs through your affiliate id to
        keep a check on fraudulent / low quality app installs happening through unethical means. Please note that we hold
        the right to check the quality of installs being served by our affiliates and the right to suspend/disable their
        affiliate account or withhold payments if we observe any fraudulent stuff happening through your affiliate id. Under
        such circumstances we hold the right to terminate/disable your affiliate account and/or withhold all pending affiliate
        commissions with immediate effect without any prior notice.</p>
      <p>By participating in the Program you agree that you will not engage in any such activities. If we reject your application,
        you are welcome to reapply to the Program at any time. You should also note that if we accept your application and
        your site is thereafter determined (in our sole discretion) to be unsuitable for the Program at a later period, we
        may terminate this Agreement with immediate effect including withholding all your pending commission payments, with
        or without notice, as may be determined in sole discretion of Flipkart.com. Participation in the Program is limited
        to parties that lawfully can enter into and form contracts under applicable law. For example, minors are not allowed
        to participate in the Program.
      </p>
      <p>During the registration process on
        <a href="/affiliate/signup">/affiliate/signup</a>, it is compulsory to provide the information of all "Your Website(s)" in the "Affiliate Website
        Information" section, which you would be linking to the Flipkart Site. We record your traffic from these websites/blogs
        and hold the authority to withhold your payments/disable your account in case of:</p>
      <ol>
        <li>Traffic coming from any website / blogs not mentioned by you in the "Affiliate Website Information" section</li>
        <li>In case of any violations made by the websites / blogs not mentioned in the "Affiliate Website Information" section</li>
      </ol>
      <p>Further, by participating in the Program you agree that you have read and understood the contents of Flipkart Terms
        of Use (http://www.flipkart.com/s/terms) and contents of the said Terms of Use shall be read as part and parcel of
        the Agreement, wherever applicable and be binding upon you.
      </p>
    </li>
    <li>
      <div class="question">
        Links on Your Site
      </div>
      <p>Once you have been notified that your site has been accepted into the Program, and subject to clause 1 of this Terms
        and Conditions, we grant you a revocable, non-exclusive, worldwide, royalty-free license for the duration of the
        term of this Agreement, solely for purposes of facilitating referrals from your site to the Flipkart Site, to provide
        on your site one or more of the following types of links to the Flipkart Site:</p>
      <ul>
        <li>
          <h3>Product Links:</h3>
          <p>You may select one or more Products to list on your site using a variety of formats that we make available to you,
            such as text link format, graphical link format, customizable "widget" format, or "product preview" link format.
            A "Product" is any product listed on the Flipkart Site that is fulfilled by us or on our behalf, a Digital Product
            (defined below), or any product sold by a third party seller on the Flipkart Site. For each selected Product,
            you will display on your site a short description, review, or other reference. You will be responsible for the
            content, style, and placement of these references. You will provide a Special Link (as defined below) from each
            Product reference on your site to the corresponding Flipkart Site online catalog entry. Each such link will connect
            directly to a single item in our online catalog. You may add or delete Products (and related links) from your
            site at any time without our approval. You may not use Special Links to link to the Flipkart Site from references
            to products on your site that are not "Products" as defined above.</p>
        </li>
        <li>
          <h3>Search Box Link:</h3>
          <p>You may provide a Flipkart Site search box on your site that will permit your site visitors to view Products that
            are the results of their search query within the Search Box link or view results that link directly to a page
            on the Flipkart Site that contains the results of their search query. We will provide you with technical specifications
            describing how to include an Flipkart Site search box on your site.</p>
        </li>
        <li>
          <h3>General Link to Flipkart Site Home Page:</h3>
          <p>You may provide a general link on your site to the home page of the Flipkart Site.</p>
        </li>
        <li>
          <h3>Search Results Link:</h3>
          <p>You may provide a link on your site that will link to a particular search result on the Flipkart Site, the parameters
            of which will be determined by you based on search generating alternatives we make available to you.</p>
        </li>
        <li>
          <h3>Any Page Link:</h3>
          <p>You may provide a link on your site that will link to any particular page on the Flipkart Site, provided that you
            properly use the special link formats provided on the Flipkart Site as part of the Program to create such link.
            We will provide you with guidelines and graphical artwork to use in linking to the Flipkart Site home page. To
            permit accurate tracking, reporting, and referral fee accrual, we will provide you with special "tagged" link
            formats to be used in all links between your site and the Flipkart Site (and for purposes of this Agreement,
            the browser window described above that opens upon a user's clicking on a Quick-Click link is deemed a part of
            the Flipkart Site, and any Quick-Click link is deemed a link between your site and the Flipkart Site). You must
            ensure that each of the links between your site and the Flipkart Site properly utilizes such special link formats.
            Links to the Flipkart Site placed on your site pursuant to this Agreement and which properly utilize such special
            link formats are referred to as "Special Links." You will earn referral fees only with respect to activity on
            the Flipkart Site occurring directly through Special Links; we will not be liable to you with respect to any
            failure by you to use Special Links, including to the extent that such failure may result in any reduction of
            amounts that would otherwise be paid to you pursuant to this Agreement. You acknowledge that, by participating
            in the Affiliate Program and placing any of the above links within your site, we may receive information from
            or about visitors to your site or communications between your site and those visitors. Your participation in
            the Program constitutes your specific and unconditional consent to and authorization for our access to, receipt,
            storage, use, and disclosure of any and all such information, consistent with the policies and procedures set
            forth in the Privacy Notice on the Flipkart Site. Except for the license granted under this Section 2, you do
            not obtain any rights under this Agreement in any intellectual property, including, without limitation, any intellectual
            property with respect to the Special Links, link formats, technical specifications, guidelines or graphical artwork
            referenced above, or with respect to the Flipkart.com domain names. You also acknowledge that we (and our corporate
            affiliates) may crawl or otherwise monitor your site for the purpose of ensuring the quality and reliability
            of Special Links on your site (for example, to detect links that are broken or non-functional, links to products
            that are out of stock or otherwise unavailable, etc.). Therefore, you agree that we and our corporate affiliates
            may take such actions and that you will not seek to block or otherwise interfere with such crawling or monitoring
            (and that we and our corporate affiliates may use technical means to overcome any methods used on your site to
            block or interfere with such crawling or monitoring). You also acknowledge that as a participant in the Program,
            we may from time to time send you email updates about the Program. By participating in the Program, you consent
            to our sending you these email updates. Further, you acknowledge and agree that you will: (a) not, in connection
            with this Agreement, display or reference on your site, any trademark or logo of any third party seller on the
            Flipkart Site; (b) ensure that any "Privacy Information" link or Flipkart trademark (either in logo or text form)
            that we include in a Special Link is not obscured or altered in any way or made invisible, illegible or indecipherable
            to visitors of your site; (c) use any data, images, text, or other information obtained by you from us or the
            Flipkart Site in connection with this Agreement ("Content") only in a lawful manner and only in accordance with
            the terms of this Agreement; (d) not use any Content relating to any Excluded Merchant or any product sold by
            any Excluded Merchant; (e) not modify or alter any Content that consists of a graphic image, other than to resize
            it; (f) not edit any Content that consists of text, other than to shorten its length; (g) not sell, redistribute,
            sublicense or transfer any Content; (h) not use any Content in a manner intended to send sales to any site other
            than the Flipkart Site; (i) promptly delete any Content that is no longer displayed on the Flipkart Site or that
            we notify you is no longer available for your use and (j) not use any Content, including any name or likeness
            embodied therein, in a manner (e.g., a closely proximate placement to unrelated third party materials) that implies
            a person's or company's endorsement or sponsorship of, or commercial tie-in or other association with, any product,
            service, party or cause.</p>
        </li>
      </ul>
    </li>
    <li>
      <div class="question">
        Order Processing
      </div>
      <p>We will process Product orders placed by customers who follow Special Links from your site to the Flipkart Site. We
        reserve the right to reject/disapprove orders that do not comply with any requirements that we periodically may establish.
        We will be responsible for all aspects of order processing and fulfillment. Among other things, we will prepare order
        forms, process payments, cancellations, and returns, and handle customer service. We will track sales made to customers
        who purchase Products by using Special Links from your site to the Flipkart Site and will make available to you reports
        summarizing this sales activity. The form, content, and frequency of the reports may vary from time to time in our
        discretion.
      </p>
    </li>
    <li>
      <div class="question">
        Referral Fees
      </div>
      <p>We will pay you (in accordance with Sections 5 and 6 below) referral fees on certain Product sales to third parties.
        For a Product sale to be eligible to earn a referral fee, the customer must click-through a Special Link on your
        site to the Flipkart Site and during a single session, add the Product to his or her shopping cart. The session begins
        when the customer clicks through a Special Link on your site to the Flipkart Site and ends upon the first to occur
        of the following events:</p>
      <ol type="a">
        <li>24 hours elapse from the customer's initial click-through, or</li>
        <li>the customer places an order for a Product, or</li>
        <li>the customer follows a third party link to the Flipkart Site that is appended with a different affiliate's tag, or</li>
        <li>The customer follows a link to the Flipkart Site that is appended with Flipkart's email campaign tag</li>
      </ol>
      <p>We will only pay referral fees on eligible Products after order, payment, and shipping. To permit accurate tracking,
        reporting and fee accrual, you must ensure that the Special Links between your site and the Flipkart Site are properly
        formatted. We will not be liable for paying referral fees on purchases that are not correctly tracked and reported
        because the links between your site and the Flipkart Site are not properly formatted. We will not, however, pay referral
        fees on any Products that are added to a customer's Shopping Cart after the customer has reentered the Flipkart Site
        (other than through a Special Link from your site), as determined by us, even if the customer previously followed
        a link from your site to the Flipkart Site. In addition, we will not pay referral fees for any purchases made by
        customers referred to us through Special Links generated or displayed in response to general Internet search queries
        or keywords. For avoidance of doubt, the Search Box Link, which searches the Flipkart Product catalog, or searches
        of product databases that include Flipkart Products, such as shopping comparison engines, are still eligible for
        referral fees. You may not purchase products during sessions initiated through the links on your site for your own
        use, for resale or commercial use of any kind. This includes orders for customers or on behalf of customers or orders
        for products to be used by you or your friends, relatives, or associates in any manner. Such purchases may result
        (in our sole discretion) in the withholding of referral fees and/or the termination of this Agreement. In addition,
        you may not:</p>
      <ol type="a">
        <li>directly or indirectly offer any person or entity any consideration or incentive (including, without limitation,
          payment of money (including any rebate), or granting of any discount or other benefit) for using Special Links
          on your site to access the Flipkart Site (e.g., by implementing any "cashback" program for persons or entities
          who use Special Links on your site to access the Flipkart Site);</li>
        <li>read, intercept, record, redirect, interpret, or fill in the contents of any electronic form or other materials submitted
          to us by any person or entity;
        </li>
        <li>in any way modify, redirect, suppress, or substitute the operation of any button, link, or other interactive feature
          of the Flipkart Site;</li>
        <li>make any orders or subscription requests, or engage in other transactions of any kind on the Flipkart Site on behalf
          of any third party, or authorize, assist, or encourage any other person or entity to do so;</li>
        <li>take any action that could reasonably cause any customer confusion as to our relationship with you, or as to the
          site on which any functions or transactions (e.g., search, order, browse, and so on) are occurring;</li>
        <li>other than providing Special Links on your site in accordance with this Agreement, post or serve any advertisements
          or promotional content promoting the Flipkart Site or otherwise around or in conjunction with the display of the
          Flipkart Site (e.g., through any "framing" technique or technology or pop-up or pop-under windows), or assist,
          authorize, or encourage any third party to take any such action;</li>
        <li>attempt to circumvent the referral fee schedule or artificially increase your referral fees (e.g. by intentionally
          featuring, purchasing or requesting or encouraging any third party to purchase low-price items offered on the Flipkart
          Site (as determined by us) for the purpose of exceeding any referral fee threshold or by causing any page of the
          Flipkart Site to open in a customer's browser other than as a result of the customer clicking on a Special Link
          on your site);</li>
        <li>attempt to intercept or re-direct (including, without limitation, via user-installed software) traffic from or on,
          or divert referral fees from, any web site that participates in the Program; or</li>
        <li>seek to purchase or register any keywords, search terms or other identifiers that include the words "Flipkart," "Flipcart",
          "Digiflip", "Flyte" or any other trademark of Flipkart Internet Private Limited or its affiliates, or variations
          or misspellings thereof ("Proprietary Terms") for use in any search engine, portal, sponsored advertising service
          or other search or referral service.</li>
      </ol>
      <p>From time to time we may request that you cause any applicable web search provider to exclude Proprietary Terms from
        keywords used to display your advertising content in association with search results, assuming the provider of such
        Web search engine offers such exclusion capabilities.</p>
    </li>
    <li>
      <div class="question">
        Referral Fee Schedule
      </div>
      <p>During each calendar month, for Qualifying Products sold during sessions initiated through Special Links on your site,
        you will earn (subject to the other terms of this Agreement) referral fees in accordance with the "Fee Structure"
        described below.
        <strong>Fee Structure:</strong> Subject to the other terms of this Agreement, you will earn a percentage of Qualifying Revenues
        (revenues derived by us from customers as a result of sales of Qualifying Product units sold during sessions initiated
        through Special Links on your site, excluding costs for shipping, handling, gift-wrapping, taxes separately stated
        and charged to the customer, service charges, rebates, credit card processing fees, returns and bad debt) set forth
        in the table below that corresponds to the number of such Qualifying Product units sold during sessions initiated
        through Special Links on your site.</p>
    </li>
    <li>
      <div class="question">
        Referral Fee Payment
      </div>
      <p>We will pay you referral fees on a monthly basis for Qualifying Products shipped in the applicable month. Approximately
        60 days following the end of each calendar month, based on the payment mode/ option selected by you in your Affiliate
        Account, we will either:</p>
      <ol type="a">
        <li>send you payments via Electronic Funds Transfer (EFT) for the referral fees earned; or</li>
        <li>send you a gift card good for purchase of Products through the Flipkart.com site, subject to our standard terms or
          conditions.</li>
        <p>If you select payment via Flipkart.com site gift card, we will accrue and withhold referral fees until the total
          amount due is at least INR 250. If you select payment via cheque, we will accrue and withhold referral fees until
          the total amount due is at least INR 1,000 (subject to all the necessary documents having been submitted by the
          affiliate to Flipkart for processing payments through EFT)</p>
        <p>Documents required for EFT payments are as follows:</p>
        <ol>
          <li>Scanned Copy of cancelled cheque (same Bank details as mentioned in the Affiliate Account). In case you do not
            have a cheque, you can send us the scanned copy of the first page of your passbook. However, the IFSC code and
            the Bank account number should be clearly mentioned on it.</li>
          <li>Scanned Copy of your/ company PAN card (same name with which you have registered for the Affiliate Account)</li>
          <li>Completed vendor creation form. Its mandatory to fill all the details for cells marked in yellow.</li>
          <p>
            <b>Important:</b> Please mention the same email ID in the form with which you are registered for the affiliate program.</p>
          <p>Also, if you have registered as an 'Organisation' in the affiliate account, the following 2 additional documents
            are required:</p>
          <li>Scanned Copy of your Incorporation Certificate (same company name with which you have registered for the Affiliate
            Account)</li>
          <li>Scanned Copy of your Service Tax Registration Certificate (same company name with which you have registered for
            the Affiliate Account)</li>
        </ol>
        <p>Please ensure that all details match with the details mentioned in your Affiliate Account.</p>
        <p>Document required for Gift Voucher payments are as follows: Scanned Copy of your/ company PAN card (same name with
          which you have registered for the Affiliate Account).</p>
        <p>Please note that the referral fees will be processed as per the payment mode selected by you in your affiliate account
          ('My Account' section) as on the 1st of every month. In case you change your payment mode after the 1st of the
          month, the new payment mode will be applicable from next month's payment cycle.</p>
        <p>
          <b>The referral fee payable to you is inclusive of all taxes including service tax or other tax or levy that you may
            be required to remit in connection with such services.</b> If required by applicable Indian tax law, we may deduct
          or withhold income taxes from the referral fees payable to you. If you are an Indian resident, your referral fees
          payable to you will be subject to a 10% income tax (TDS) withholding subject to providing the PAN; and in case
          if there is no PAN, referral fees would be subject to a 20% income tax (TDS) withholding. If you are not an Indian
          resident or have not provided us your PAN (Permanent Account Number), the rate of income tax withholding applicable
          to you will vary and income tax would be withheld from the referral fees accrued to you on the basis of documents
          submitted by you which are required as per the provisions of Income Tax of India. If we deduct or withhold income
          taxes from referral fees payable to you, we will issue to you the relevant withholding tax certificate evidencing
          deposit of the taxes with the relevant regulatory authorities. If you provide us with a nil or reduced withholding
          tax certificate, we will apply such nil or reduced tax rate as the applicable withholding tax rate on referral
          fees payable to you. You hereby agree that you will not pursue any claim against Flipkart or any of its affiliates,
          and hereby waive all such claims you may now or in the future have, in respect of any income taxes Flipkart deposits
          with a relevant taxing authority pursuant to the this Operating Agreement.</p>
      </ol>
      <li>
        <div class="question">
          Policies and Pricing
        </div>
        <p>Customers who buy products through this Program will be deemed to be our customers. Accordingly, all of our rules,
          policies, and operating procedures concerning customer orders, customer service, and product sales will apply to
          those customers. We may change our policies and operating procedures at any time. For example, we will determine
          the prices to be charged for products sold under this Program in accordance with our own pricing policies. Product
          prices and availability may vary from time to time. Because price changes may affect Products that you have listed
          on your site, your site may only show prices when we serve the link in which those prices are displayed. We will
          use commercially reasonable efforts to present accurate information, but we cannot guarantee the availability or
          price of any particular product.</p>
      </li>
      <li>
        <div class="question">
          Identifying Yourself as an Affiliate
        </div>
        <p>
          <strong>You may not issue any press release with respect to this Agreement or your participation in the Program; such action
            may result in your termination from the Program.</strong> You may not in any manner misrepresent or embellish
          the relationship between us and you, or express or imply any relationship or affiliation between us and you or
          any other person or entity except as expressly permitted by this Agreement (including by expressing or implying
          that we support, sponsor, endorse, or contribute money to any charity or other cause).</p>
      </li>
      <li>
        <div class="question">
          Limited License
        </div>
        <p>We grant you a nonexclusive, revocable right to use the graphic image and text described in Section 8 and such other
          text or images for which we grant express permission, solely for the purpose of identifying your site as a Program
          participant and to assist in generating Product sales. You may not use such image or text in an offline promotion
          or other offline manner (e.g., in any printed material, mailing or other document). You may not modify the graphic
          image or text, or any other of our images, in any way. We reserve all of our rights in the graphic image and text,
          any other images, our trade names and trademarks, and all other intellectual property rights. You agree to follow
          our Trademark Guidelines, as those guidelines may change from time to time. We may revoke your license at any time
          by giving you written notice.
        </p>
      </li>
      <li>
        <div class="question">
          Responsibility for Your Site
        </div>
        <p>You will be solely responsible for the development, operation, and maintenance of your site and for all materials
          that appear on your site. For example, you will be solely responsible for:</p>
        <ul>
          <li>The technical operation of your site and all related equipment</li>
          <li>Ensuring the display of Special Links on your site does not violate any agreement between you and any third party
            (including without limitation any restrictions or requirements placed on you by a third party that hosts your
            site)
          </li>
          <li>Creating and posting Product descriptions on your site and linking those descriptions to the Flipkart Site catalog</li>
          <li>The accuracy and appropriateness of materials posted on your site (including, among other things, all Product-related
            materials and any information you include within or associate with Special Links)</li>
          <li>Ensuring that materials posted on your site do not violate or infringe upon the rights of any third party (including,
            for example, copyrights, trademarks, privacy, or other personal or proprietary rights)</li>
          <li>Ensuring that materials posted on your site are not libelous or otherwise illegal</li>
          <li>Ensuring that your site accurately and adequately discloses, either through a privacy policy or otherwise, how
            you collect, use, store, and disclose data collected from visitors, including, where applicable, that third parties
            (including advertisers) may serve content and/or advertisements and collect information directly from visitors
            and may place or recognize cookies on visitors' browsers.</li>
          <li>We disclaim all liability for these matters. Further, you will indemnify and hold us harmless from all claims,
            damages, and expenses (including, without limitation, attorneys' fees) relating to the development, operation,
            maintenance, and contents of your site. We also advise you to strictly abide by the terms narrated in Clause
            1 above of this terms and conditions and any non-observance of the terms therein shall determine our association
            with immediate effect.</li>
        </ul>
      </li>
      <li>
        <div class="question">
          Compliance with Laws
        </div>
        <p>As a condition to your participation in the Program, you agree that while you are a Program participant you will
          comply with all laws, ordinances, rules, regulations, orders, licenses, permits, judgments, decisions or other
          requirements of any governmental authority that has jurisdiction over you, whether those laws, etc. are now in
          effect or later come into effect during the time you are a Program participant. Without limiting the foregoing
          obligation, you agree that as a condition of your participation in the Program you will comply with all applicable
          laws (federal, state or otherwise) that govern marketing email and all other anti-spam laws.</p>
      </li>
      <li>
        <div class="question">
          Term of the Agreement
        </div>
        <p>The term of this Agreement will begin upon our acceptance of your Program Application and will end when terminated
          by either party. Either you or we may terminate this Agreement at any time, with or without cause, by giving the
          other party written notice of termination. Upon the termination of this Agreement for any reason, you will immediately
          cease use of, and remove from your site, all links to the Flipkart Site, and all of our trademarks, trade dress,
          and logos, and all other materials provided by or on behalf of us to you pursuant hereto or in connection with
          the Program. You are eligible to earn referral fees only on sales of Qualifying Products that occur during the
          term, and referral fees earned through the date of termination will remain payable only if the related orders are
          not canceled or returned. We may withhold your final payment for a reasonable time to ensure that the correct amount
          is paid. Effect of Termination: Upon termination of this Agreement by either side you will cease to be an affiliate
          and shall remove all links to the Flipkart site as detailed in clause 12 herein above and non-removal of links
          and use of all or any of our trademark, trade dress, logos and price are treated as illegal crawling and infringement
          of our Trademark.</p>
      </li>
      <li>
        <div class="question">
          Modification
        </div>
        <p>We may modify any of the terms and conditions contained in this Agreement, without prior notice at any time and in
          our sole discretion, by posting a change notice or a new agreement on the Flipkart Site. Modifications may include,
          for example, changes in the scope of available referral fees, referral fee schedules, payment procedures, and Program
          rules. If any modification is unacceptable to you, your only recourse is to terminate this agreement. Your continued
          participation in the program following our posting of a change notice or new agreement on the flipkart site will
          constitute binding acceptance of the change.
        </p>
      </li>
      <li>
        <div class="question">
          Relationship of Parties
        </div>
        <p>You and we are independent contractors, and nothing in this Agreement will create any partnership, joint venture,
          agency, franchise, sales representative, or employment relationship between the parties. You will have no authority
          to make or accept any offers or representations on our behalf. You will not make any statement, whether on your
          site or otherwise, that reasonably would contradict anything in this clause.</p>
      </li>
      <li>
        <div class="question">
          Limitation of Liability
        </div>
        <p>We will not be liable for indirect, special, or consequential damages (or any loss of revenue, profits, or data)
          arising in connection with this Agreement or the Program, even if we have been advised of the possibility of such
          damages. Further, our aggregate liability arising with respect to this Agreement and the Program will not exceed
          the total referral fees paid or payable to you under this Agreement.</p>
      </li>
      <li>
        <div class="question">
          Disclaimers
        </div>
        <p>We make no express or implied warranties or representations with respect to the Program or any products sold through
          the Program (including, without limitation, warranties of fitness, merchantability, non-infringement, or any implied
          warranties arising out of a course of performance, dealing, or trade usage). In addition, we make no representation
          that the operation of the Flipkart Site will be uninterrupted or error-free, and we will not be liable for the
          consequences of any interruptions or errors.</p>
      </li>
      <li>
        <div class="question">
          Independent Investigation
        </div>
        <p>You acknowledge that you have read this agreement and agree to all its terms and conditions. You understand that
          we may at any time (directly or indirectly) solicit customer referrals on terms that may differ from those contained
          in this agreement or operate web sites that are similar to or compete with your web site. You have independently
          evaluated the desirability of participating in the program and are not relying on any representation, guarantee,
          or statement other than as set forth in this agreement.</p>
      </li>
      <li>
        <div class="question">
          Disputes
        </div>
        <p>Any dispute relating in any way to the Program or this Agreement in which the aggregate total claim for relief sought
          on behalf of one or more parties exceeds INR1,00,000 will be adjudicated in any state or federal court in Bangalore,
          Karnataka, and you hereby consent to exclusive jurisdiction and venue in those courts. You further acknowledge
          and agree that our rights in the Content are of a special, unique, extraordinary character, giving them peculiar
          value, the loss of which cannot be readily estimated and may not be adequately compensated for in monetary damages.</p>
      </li>
      <li>
        <div class="question">
          Miscellaneous
        </div>
        <p>This Agreement will be governed by the laws of the Indian Republic and the state of Karnataka, without reference
          to rules governing choice of laws. You may not assign this Agreement, by operation of law or otherwise, without
          our prior written consent. Subject to that restriction, this Agreement will be binding on, inure to the benefit
          of, and be enforceable against the parties and their respective successors and assigns. Our failure to enforce
          your strict performance of any provision of this Agreement will not constitute a waiver of our right to subsequently
          enforce such provision or any other provision of this Agreement.</p>
      </li>
  </ol>

<br> </div>
</div>
</div>
</body>