<div class="topnav">
  <a id='main' routerLink='/'>Phoenix-Kart</a>
  <div class="topnav-right">
    <a id='sub' routerLink='/'>Home</a>
    <a id='sub' routerLink='/login'>Login</a>
  </div>
</div>

<!-- <div class="topnav">
  <a routerLink='/'>PHOENIX-Kart</a>
    <div class="col-md-6" id="navbarNav">
      <div class="topnav-right">
         <a class="" href="#" routerLink='/'>Home</a>
         <a class="" href="#" routerLink='/login'>Login/Signup</a>
      </div>
      </div>
      </div> -->