
  
  /* .container-fluid {
      padding:10px;
  } */
  



  body {
    margin-top: 30px;
  }
  
  .dropdown,
  .dropdown-toggle {
    letter-spacing: 2px;
    text-align: right;
    margin-right: 20px;
  }
  
  button {
    margin-left: 70px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  #Previous .page-item {
    font-size: 20px;
    width: 180px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  #Next .page-item {
    font-size: 20px;
    width: 180px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  .card {
    width: 90%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  .right {
    float: right;
  }
  
  .yellow {
    color: orange;
    /* background-color: yellow; */
  }
  
  input[type='text'] {
    width: 75%;
    color: darkslategrey;
    border-color: black;
    border-right-color: white;
    border-top-left-radius: 15px;
  }
  
  #go {
    margin-left: 0px;
    padding: 10px;
    border-radius: 0px;
    border-color: black;
    border-left-color: blue;
    border-bottom-right-radius: 15px;
  }
  
  img {
    margin: 10%;
    height: 30%;
    width: 80%;
    margin-top: 8%;
    margin-bottom: 4%;
  }
  
  #cards {
    margin-top: 30px;
  }
  
  .card-footer {
      border-bottom-right-radius:20px;
  }
  
  *{
    margin: 0px;
  }




  dt {
    margin:10px;
    text-indent: 10px;
    line-height: 25px;
  }
  
  dd {
    text-indent: 40px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  
  .filters {
    padding-top:10px;
    margin-left:5px;
    border: 1px rgba(0,0,0,0.1) groove;
    border-radius:20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  h5 {
    letter-spacing: 2px;
  }


  .sortby{
    margin-top:20px;
  }